<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hypertube | Create Account</title>
    <link href="stylesheets/main.css" rel="stylesheet">
    <link href="stylesheets/vegas.min.css" rel="stylesheet">
    <link href="stylesheets/carousel.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/hypertube-logo.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
    <div class="site-content" align="center">
        <div class="align">
            <img id="logo" src="/img/hypertube-logo.png" alt="cinema">
            <form class="inscription-form" method="post" action="" autocomplete="off">

                <div class="header-form">Create Account</div>

                <input id="fname" class="input" type="text" name="firstname" placeholder="First Name">
                <div id="fnameReturn" class="return"></div>

                <input id="lname" class="input" type="text" name="lastname" placeholder="Last Name">
                <div id="lnameReturn" class="return"></div>
                <input id="user" class="input" type="text" name="username" placeholder="User Name">

                <div id="userReturn" class="return"></div>
                <input id="email" class="input" type="email" name="email" placeholder="Email">

                <div id="emailReturn" class="return"></div>
                <input id="passwd" class="input" type="password" name="password" placeholder="Password">

                <div id="passwdReturn" class="return"></div>
                <input id="conf" class="input" type="password" name="confirmpassword" placeholder="Confirmation">

                <div id="confReturn" class="return"></div>
                <input class="input-btn" type="submit" value="Create">
            </form>
            <div class="no-account"><a href="/">Go back to Sign in</a></div>
            <div class="message">{{message}}</div>
        </div>
    </div>
    <script type="text/javascript" src="/js/create_tools.js"></script>
    <script src="/js/home_tools.js"></script>
    <script src="/js/vegas.js"></script>
</body>

</html>