<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Hypertube | Create Account</title>
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/create_account.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
	<div class="site-content" align="center">
		<div class="separator"></div>
		<img class="form-img" src="/img/hypertube-logo.png" alt="cinema">
		<div class="separator"></div>
		<form class="inscription-form" method="post" action="">
			<div class="header-form">Create Account</div>
			<input id="fname" class="input" type="text" name="firstname" placeholder="First Name">
			<input id="lname" class="input" type="text" name="lastname" placeholder="Last Name">
			<div id="fnameReturn" class="return"></div>
			<div id="lnameReturn" class="return"></div>
			<input id="user" class="input" type="text" name="username" placeholder="User Name">
			<input id="email" class="input" type="email" name="email" placeholder="Email">
			<div id="userReturn" class="return"></div>
			<div id="emailReturn" class="return"></div>
			<input id="passwd" class="input" type="password" name="password" placeholder="Password">
			<input id="conf" class="input" type="password" name="confirmpassword" placeholder="Confirmation">
			<div id="passwdReturn" class="return"></div>
			<div id="confReturn" class="return"></div>
			<input class="input-submit" type="submit" value="Create">
		</form>
		<div class="no-account"><a href="/">Go back to Sign in</a></div>
		<div class="message">{{message}}</div>
	</div>
	<script type="text/javascript" src="/js/create_tools.js"></script>
</body>

</html>
