<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hypertube | Create Account</title>
    <link href="stylesheets/main.css" rel="stylesheet">
    <link href="stylesheets/create_account.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/hypertube-logo.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
    <div class="site-content" align="center">
        <div class="separator"></div>
        <img class="form-img" src="/img/hypertube-logo.png" alt="cinema">
        <div class="separator"></div>
        <form class="inscription-form" method="post" action="" autocomplete="off">
            <div class="header-form">Create Account</div>
            <input id="fname" class="input" type="text" name="firstname" placeholder="First Name">
            <input id="lname" class="input" type="text" name="lastname" placeholder="Last Name">
            <div id="fnameReturn" class="return"></div>
            <div id="lnameReturn" class="return"></div>
            <input id="user" class="input" type="text" name="username" placeholder="User Name">
            <input id="email" class="input" type="email" name="email" placeholder="Email">
            <div id="userReturn" class="return"></div>
            <div id="emailReturn" class="return"></div>
            <input id="passwd" class="input" type="password" name="password" placeholder="Password">
            <input id="conf" class="input" type="password" name="confirmpassword" placeholder="Confirmation">
            <div id="passwdReturn" class="return"></div>
            <div id="confReturn" class="return"></div>
            <div class="language">
                <select name="country">
                    <option value="afr">Afrikaans</option>
                    <option value="alb">Albanian</option>
                    <option value="ara">Arabic</option>
                    <option value="arm">Armenian</option>
                    <option value="ast">Asturian</option>
                    <option value="aze">Azerbaijani</option>
                    <option value="baq">Basque</option>
                    <option value="bel">Belarusian</option>
                    <option value="ben">Bengali</option>
                    <option value="bos">Bosnian</option>
                    <option value="bre">Breton</option>
                    <option value="bul">Bulgarian</option>
                    <option value="bur">Burmese</option>
                    <option value="cat">Catalan</option>
                    <option value="chi">Chinese (simplified)</option>
                    <option value="zht">Chinese (traditional)</option>
                    <option value="zhe">Chinese bilingual</option>
                    <option value="hrv">Croatian</option>
                    <option value="cze">Czech</option>
                    <option value="dan">Danish</option>
                    <option value="dut">Dutch</option>
                    <option selected="selected" value="eng">English</option>
                    <option value="epo">Esperanto</option>
                    <option value="est">Estonian</option>
                    <option value="ext">Extremaduran</option>
                    <option value="fin">Finnish</option>
                    <option value="fre">French</option>
                    <option value="glg">Galician</option>
                    <option value="geo">Georgian</option>
                    <option value="ger">German</option>
                    <option value="ell">Greek</option>
                    <option value="heb">Hebrew</option>
                    <option value="hin">Hindi</option>
                    <option value="hun">Hungarian</option>
                    <option value="ice">Icelandic</option>
                    <option value="ind">Indonesian</option>
                    <option value="ita">Italian</option>
                    <option value="jpn">Japanese</option>
                    <option value="kaz">Kazakh</option>
                    <option value="khm">Khmer</option>
                    <option value="kor">Korean</option>
                    <option value="lav">Latvian</option>
                    <option value="lit">Lithuanian</option>
                    <option value="ltz">Luxembourgish</option>
                    <option value="mac">Macedonian</option>
                    <option value="may">Malay</option>
                    <option value="mal">Malayalam</option>
                    <option value="mni">Manipuri</option>
                    <option value="mon">Mongolian</option>
                    <option value="mne">Montenegrin</option>
                    <option value="nor">Norwegian</option>
                    <option value="oci">Occitan</option>
                    <option value="per">Persian</option>
                    <option value="pol">Polish</option>
                    <option value="por">Portuguese</option>
                    <option value="pob">Portuguese (BR)</option>
                    <option value="pom">Portuguese (MZ)</option>
                    <option value="rum">Romanian</option>
                    <option value="rus">Russian</option>
                    <option value="scc">Serbian</option>
                    <option value="sin">Sinhalese</option>
                    <option value="slo">Slovak</option>
                    <option value="slv">Slovenian</option>
                    <option value="spa">Spanish</option>
                    <option value="swa">Swahili</option>
                    <option value="swe">Swedish</option>
                    <option value="syr">Syriac</option>
                    <option value="tgl">Tagalog</option>
                    <option value="tam">Tamil</option>
                    <option value="tel">Telugu</option>
                    <option value="tha">Thai</option>
                    <option value="tur">Turkish</option>
                    <option value="ukr">Ukrainian</option>
                    <option value="urd">Urdu</option>
                    <option value="vie">Vietnamese</option>
                </select>
            </div>
            <br>
            <input class="input-submit" type="submit" value="Create">
        </form>
        <div class="no-account"><a href="/">Go back to Sign in</a></div>
        <div class="message">{{message}}</div>
    </div>
    <script type="text/javascript" src="/js/create_tools.js"></script>
</body>

</html>