{{#display_movies.infos}}
<div class="block">
    <a class="link" href="/movie.html/{{imdb_code}}">
        <img src={{medium_cover_image}}>
    </a>
    <div class="infos" align="left">
        <div class="title">{{title}}</div>
    </div>
</div>
{{/display_movies.infos}} {{#display_one_movie.infos}}
<div class="poster">
    <img src="{{medium_cover_image}}">
</div>
<style>
    .hud-film {
        background-image: url({{{background_image_original}}});
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>
<div class="infos">
    <div class="title">{{title}}</div>
    <div class="imdb">Imdb : {{rating}}</div>
    <div class="year">Year:{{year}}</div>
    <div class="syno">Summary:
        <br> {{summary}}</div>
</div>
{{#torrents}}
<div class="link-block">
    <div class="quality{{quality}}">
        /watchmovie.html/{{imdb_code}}/{{magnet}}/{{quality}}

    </div>
    </a>
</div>
{{/torrents}} {{/display_one_movie.infos}}
