<strong>MANAGE PROFIL</strong>
<form id="form" class="edit-profil" method="post" align="center" action="">
	<label>Firstname</label>
	<input id="firstname" class="input" type="text" name="new_firstname" placeholder="Firstname">
	<br>
	<label>Lastname</label>
	<input id="lastname" class="input" type="text" name="new_lastname" placeholder="Lastname">
	<br>
	<br>
	<label>username</label>
	<input id="location" class="input" type="text" name="new_username" placeholder="username">
	<br>
	<label>NEW EMAIL</label>
	<input class="input" type="text" name="new_email" placeholder="NEW email">
	<br>
	<label>RESET</label>
	<input id="tags" class="input" type="text" name="email" placeholder="reset pass">
	<br>
	<br>
	<input class="input update" type="submit" name="profil" value="Update"> </form> {{#manage_profil.infos}}
<div>{{message_newFirstname}}</div>
<div>{{message_newLastname}}</div>
<div>{{message_newUsername}}</div>
<div>{{message_newEmail}}</div>
<div>{{message_resetPassword}}</div> {{/manage_profil.infos}}