<!DOCTYPE html>



<head>
	<title>Hypertube | Home</title>
	<meta charset="utf-8">
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link href="/stylesheets/menu.css" rel="stylesheet">
	<link href="/stylesheets/movie.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
	<div class="site-container" align="center">
		<div class="site-pusher">
			<header class="header">
				<a href="#" class="header__icon" id="header__icon" onClick="hide()"></a>
				<a href="/home.html" class="header__logo">
					<img id="menu-logo" src="/img/hypertube-logo.png" alt="logo">
				</a>
				<nav class="menu">
					<div class="a0" class="fix"></div> <a href="#" class="a2">Movies</a> <a href="/tvShows.html" class="a1">TV Shows</a> <a href="#" class="a2">Documentary</a>
					<a href="/profile.html" class="a1"><img class="menu-img" src="/img/user.png" alt="user"></a>
					<a href="/logout.html" class="a2"><img class="menu-img" src="/img/logout.png" alt="user"></a>
				</nav>
			</header>
			<div class="separator"></div>
			<div class="separator"></div>
			<div class="hud-film">
				{{>display_movies}}
			</div>

			<div class="watch-bar">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
					<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
				<div class="watch-btn">
					<a id="watch" href="{{torrent}}">Watch it Now</a>
				</div>
			</div>


		</div>
		<script type="text/javascript" src="/js/movie_tools.js"></script>
		<script language="javascript" src="/js/menu.js"></script>
</body>
