<html>

<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width initial-scale=1.0" />
	<title>Hypertube | Profile</title>
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/menu.css" rel="stylesheet">
	<link href="stylesheets/profile.css" rel="stylesheet">
	<link href="stylesheets/settings.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/img/hypertube-logo.png" /> </head>

<body>
	<div class="site-container">
		<div class="site-pusher">
			<header class="header">
				<a href="#" class="header__icon" id="header__icon" onClick="hide()"></a>
				<a href="/home.html" class="header__logo"> <img id="menu-logo" src="img/hypertube-logo.png" alt="logo"> </a>
				<nav class="menu">
					<div class="a0" class="fix"></div> <a href="#" class="a2">Movies</a> <a href="#" class="a1">TV Shows</a> <a href="#" class="a2">Documentary</a>
					<a href="/profile.html" class="a1"><img class="menu-img" src="/img/user.png" alt="user"></a>
					<a href="/logout.html" class="a2"><img class="menu-img" src="/img/logout.png" alt="user"></a>
				</nav>
			</header>
			<div class="site-content">
				<div class="site-cache" id="site-cache" onClick="hide()">
					<div class="container" align="center" onClick="hide()">
						<div class="separator"></div>
						<div class="separator"></div>
						<div class="separator"></div>
						<div class="hud">{{#infos}}
							<div class="profile-pic"> <img src="{{profil_pic}}"> </div>
							<div class="usr-infos">
								<div class="firstname">{{firstname}}</div>
								<div class="lastname">{{lastname}}</div>
								<div class="username">{{username}}</div> {{/infos}}
								<div class="settings"> <img id="settigns" src="/img/settings.png" onclick="displaySettings()"></a>
								</div>
							</div>
						</div>
						<div id="infos" style="display:{{contents}}"></div>
						<div class="main" id="settings" style="display:{{settings}}">
							<form class="left-form" method="post" action="">
								<div class="header-form">Update Profil</div>
								<input class="input" type="text" name="new_firstname" placeholder="Firstname">
								<input class="input" type="text" name="new_lastname" placeholder="Lastname">
								<input class="input" type="text" name="new_username" placeholder="Username">
								<input class="input" type="email" name="new_email" placeholder="Email">
								<input class="submit" type="submit" value="Change">
								<div class="message">{{messageprofil}}</div>
							</form>
							<form class="right-form" method="post" enctype="multipart/form-data" action="/upload">
								<div class="header-form">Profil Picture</div>
								<div class="container-preview">
									<div class="fix"></div> <img id="photodisplay">
									<input class="input-file" type="file" name="file" onchange="previewFile()"> </div>
								<input class="submit" type="submit" value="Upload">
								<div class="message">{{messagephoto}}</div>
							</form>
							<div class="reset-password">
								<form class="form-bar" action="/email_confirmation" method="post">
									<div class="reset-infos">Reset password mail confirmation</div>
									<input class="bar-submit" type="submit" name="Sendmail" value="Send Mail">
									<div class="message">{{messagereset}}</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script language="javascript" src="/js/previewFile.js"></script>
	<script language="javascript" src="/js/displaySettings.js"></script>
	<script language="javascript" src="/js/menu.js"></script>
</body>

</html>