<!DOCTYPE html5>
<html>

<head>
	<meta charset="utf-8">
	<title>Hypertube | Reset Password</title>
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/index.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/img/hypertube-logo.png" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet"> </head>

<body>
	<div class="site-content" align="center">
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="header-form">
			<a href="/"><img id="logo" src="img/hypertube-logo.png" alt="logo"></a>
		</div>
		<div class="title">Reset Password</div>
		<form class="sign-in" method="post" action="">
			<div class="form-left">
				<input class="input inpt-top" type="password" name="newpassword" placeholder="New Password">
				<input class="input inpt-bot" type="password" name="confirmation" placeholder="Cornfirmation"> </div>
			<input class="input-btn" type="submit" value="Confirm"> </form>
		<div class="message">{{message}}</div>
	</div>
</body>

</html>