<!DOCTYPE html5>
<html>

<head>
    <meta charset="utf-8">
    <title>Hypertube | Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="stylesheets/main.css" rel="stylesheet">
    <link href="stylesheets/vegas.min.css" rel="stylesheet">
    <link href="stylesheets/carousel.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/img/hypertube-logo.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet"> </head>

<body>
    <div class="site-content" align="center">
        <div class="align">
            <form class="sign-in" method="post" action="" autocomplete="off">
                <div class="header-form">
                    <img id="logo" src="img/hypertube-logo.png" alt="logo">
                </div>
                <div class="title">Reset Password</div>
                <div class="form-left">
                    <input class="input inpt-top" type="password" name="newpassword" placeholder="New Password">
                    <input class="input inpt-bot" type="password" name="confirmation" placeholder="Confirmation"> </div>
                <input class="input-btn" type="submit" value="Reset">
            </form>
            <div class="separator"></div>
            <div class="no-account">
                <a href="/">Finally got it ?</a>
            </div>
            <div class="message">{{message}}</div>

        </div>
    </div>
    <script src="/js/home_tools.js"></script>
    <script src="/js/vegas.js"></script>
</body>

</html>