<!DOCTYPE html5>
<html>

<head>
	<meta charset="utf-8">
	<title>Hypertube | connexion</title>
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/reset.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet"> </head>

<body>
	<div class="site-content" align="center">
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="header-form"> <img id="logo" src="img/hypertube-logo.png" alt="logo"> </div>
		<div class="title">Please type your email</div>
		<form class="reset" method="post" action="">
			<div class="form-left">
				<input class="input inpt-top" type="email" name="email" placeholder="Email"> </div>
			<input class="input-btn" type="submit" value="Send Email"> </form>
		<div class="message">{{message}}</div>
		<div class="remember"><a href="/">Finally got it ?</a></div>
	</div>
</body>

</html>