<html>

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>Hypertube | Profile</title>
    <link href="stylesheets/main.css" rel="stylesheet">
    <link href="stylesheets/menu.css" rel="stylesheet">
    <link href="stylesheets/profile.css" rel="stylesheet">
    <link href="stylesheets/settings.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/hypertube-logo.png" />
</head>

<body>
    <div class="site-container">
        <div class="site-pusher">
            <header class="header">
                <a href="#" class="header__icon" id="header__icon" onClick="hide()"></a>
                <a href="/profile.html" class="header__logo">
                    <img id="menu-logo" src="img/hypertube-logo.png" alt="logo">
                </a>
                <nav class="menu">
                    <div class="a0" class="fix"></div>
                    <a href="#" class="a2">Movies</a>
                    <a href="#" class="a1">TV Shows</a>
                    <a href="#" class="a2">Documentary</a>
                    <a href="#" class="a1"><img class="menu-img" src="/img/user.png" alt="user"></a>
                    <a href="/logout.html" class="a2"><img class="menu-img" src="/img/logout.png" alt="user"></a>
                </nav>
            </header>
            <div class="site-content">
                <div class="site-cache" id="site-cache" onClick="hide()">
                    <div class="container" align="center" onClick="hide()">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="hud">
                            <div class="profile-pic"><img src="https://scontent-cdg2-1.cdninstagram.com/t51.2885-19/s150x150/13827417_1560625020913130_935672121_a.jpg">
                            </div>
                            <div class="usr-infos">
                                <div class="firstname">Kiefer</div>
                                <div class="lastname">Wiessler</div>
                                <div class="username">kieferlaterreur</div>
                                <div class="settings">
                                    <a href="#"><img id="settigns" src="/img/settings.png"></a>
                                </div>
                            </div>
                        </div>
                        <div class="main">
                            <form class="left-form" method="post" action="">
                                <div class="header-form">Update Profil</div>
                                <input class="input" type="text" name="firstname" placeholder="Firstname">
                                <input class="input" type="text" name="lastname" placeholder="Lastname">
                                <input class="input" type="text" name="username" placeholder="Username">
                                <input class="input" type="email" name="email" placeholder="Email">
                                <input class="submit" type="submit" value="Change">
                            </form>
                            <form class="right-form" method="post" enctype="multipart/form-data" action="">
                                <div class="header-form">Profil Picture</div>
                                <div class="container-preview">
                                    <div class="fix"></div>
                                    <img id="photodisplay">
                                    <input class="input-file" type="file" name="file" onchange="previewFile()">
                                </div>
                                <input class="submit" type="submit" value="Upload">
                            </form>
                            <div class="reset-password">
                                <form class="form-bar">
                                    <div class="reset-infos">Reset password mail confirmation</div>
                                    <input class="bar-submit" type="submit" value="Send Mail">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript" src="/js/menu.js"></script>
    <script language="javascript" src="/js/previewFile.js"></script>
</body>

</html>
