::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}

.form-img {
  width: 300px;
}

.inscription-form {
  width: 90%;
  max-width: 700px;
  height: 430px;
  background: #252525;
  border-radius: 15px;
}

.header-form {
  font-size: 30px;
  color: white;
  font-weight: 100;
  padding: 20px;
}

.input {
  width: 260px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 30px;
  font-size: 12px;
  padding: 5px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 100;
}

.input-submit {
  font-size: 15px;
  display: block;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(#61AEFF, #61AEFF);
  color: white;
  font-weight: 100;
  outline: none;
  float: right;
  margin-right: 9%;
}

.input-submit:hover {
  background-image: linear-gradient(#8dc5ff, #8dc5ff);
}

.no-account {
  margin-top: 30px;
}

select {
  border: none;
  overflow: scroll;
  border-radius: 15px;
  max-height: 300px;
  width: 100px;
  outline: none;
  height: 40px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  float: left;
  margin-left: 9%;
}

@media only screen and (max-width: 745px) {
  .inscription-form {
    height: 650px;
  }

  .input {
    display: block;
    margin: 2px;
  }

  .return {
    display: block;
  }
}
