$radius: 10px;
.form-img {
    width: 272px;
    background: #ddd;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.inscription-form {
    width: 292px;
    border-radius: 10px;
}
.header-form {
    width: 292px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #646464;
    background: #ddd;
    padding-bottom: 10px;
}
.input {
    height: 40px;
    width: 270px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    display: block;
    border-bottom: 3px solid #969696;
    outline: none;
    font-size: 15px;
    color: #646464;
    text-align: center;
    background: #dedede;
}
.input-fix {
    border: none;
}
.omniauth-band {
    width: 292px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.facebook {
    background: #3A5597;
    margin-right: 8px;
}
.google {
    background: #dd4B39;
    margin-right: 8px;
}
.intra {
    background: #00BABC;
}
.google:hover {
    background: #de6b5d;
}
.intra:hover {
    background: #01ecef;
}
.facebook,
.google,
.intra {
    display: inline-block;
    width: 92px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.facebook:hover {
    background: #4c649f;
}
.submit {
    margin-top: 6px;
    width: 292px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background: #61AEFF;
    color: white;
}
.submit:hover {
    background: #74b7ff;
}
.omniauth-logo {
    height: 20px;
    vertical-align: middle;
}
