.hud-film {
    width: 90%;
    max-width: 900px;
    background-blend-mode: darken;
}

.hud-film:before {
    opacity: 0.5;
}

.hud-film img {
    display: inline-block;
    border-radius: 15px;
}

.cover {
    padding-bottom: 10px;
    background-size: cover;
    width: 100%;
    border-bottom: 20px solid #111;
}

.poster {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
    margin-top: 30px;
}

.poster img {
    width: 255px;
}

.infos {
    width: 600px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    vertical-align: bottom;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: 100;
    text-align: left;
    overflow: scroll;
    max-height: 362px;
}

.genres,
.title,
.imdb,
.year,
.syno,
.actors,
.director{
    font-size: 15px;
    margin: 10px;
    z-index: 100px;
    position: relative;
}

.title {
    font-size: 25px;
}

.quality {
    font-size: 15px;
}

.link {
    color: black;
    display: inline-block;
    margin: 10px;
    margin-left: 0;
}

.link-block {
    margin: 0;
    padding: 0;
    width: 60px;
    display: inline-block;
}

.link:hover .quality {
    background: #3281ff;
}

.onoffswitch {
    position: relative;
    width: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 108px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 31px;
    padding: 0;
    line-height: 31px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    text-align: left;
}

.onoffswitch-inner:before {
    content: "720p";
    padding-left: 10px;
    background-color: transparent;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "1080p";
    padding-right: 10px;
    background-color: transparent;
    color: #fff;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    position: absolute;
    margin-top: 4px;
    margin-right: 4px;
    top: 0px;
    bottom: 0;
    right: 73px;
    border: 2px solid #E3E3E3;
    border-radius: 22px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.watch-bar {
    height: 50px;
    padding-top: 16px;
    width: 900px;
    text-align: left;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    margin: 25px;
    margin-left: 0;
    min-width: 600px;
}

.watch-btn {
    height: 34px;
    width: 120px;
    line-height: 34px;
    background: #578fe8;
    border-radius: 5px;
    text-align: center;
}

.watch-btn:hover {
    background: #86b2f8;
}

.watch-btn a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.watch-bar div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

.user-pic img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #AAA;
}

.comments-container {
    width: 70%;
    background: #181818;
    width: 100%;
    max-width: 620px;
    padding: 20px;
    padding-top: 0;
    border-top: 25px #181818 solid;
    max-height: auto;
    overflow: scroll;
    display: inline-block;
}

.comments-container div {
    display: inline-block;
    vertical-align: top;
}

.global {
    background: #181818;
}

.comment {
    padding: 10px;
    min-height: 44px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 600px;
    width: 100%;
}

.b1 {
    background: #222;
    border-radius: 15px;
}

.b2 {
    background: #333;
    border-radius: 15px;
}

.username {
    font-size: 15px;
    color: #989898;
    font-weight: 100;
    margin-left: 10px;
    max-width: 250px;
    line-height: 44px;
    height: 90%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.date {
    font-size: 15px;
    height: 44px;
    line-height: 44px;
    float: right;
    color: #555;
    margin-right: 20px;
}

.comment-value {
    font-size: 15px;
    word-break: break-all;
    font-weight: 100;
    color: white;
    max-width: 720px;
    width: 90%;
    margin-left: 10px;
    text-align: justify;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 10px;
    border-radius: 15px;
    padding: 20px;
}

.message-container {
    vertical-align: top;
    padding: 20px;
    padding-top: 25px;
    width: 580px;
    padding-left: 20px;
    padding-right: 20px;
    background: #282828;
    margin-top: 25px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-bottom: 40px;
    margin-left: 20px;
}

.message {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
}

.textarea {
    resize: none;
    width: 300px;
    height: 77px;
    text-align: left;
    background: #222;
    border: none;
    outline: none;
    margin: 10px;
    margin-right: 0;
    text-align: left;
    padding: 10px;
    color: #999;
    font-size: 15px;
    font-weight: 100;
}

.submit-message {
    font-size: 20px;
    color: white;
    font-weight: 100;
    border: none;
    height: 100px;
    margin-top: 10px;
    vertical-align: top;
    width: 100px;
    outline: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: linear-gradient(#626262, #626262);
}

.submit-message:hover {
    background-image: linear-gradient(#8d8d8d, #8d8d8d);
}

@media only screen and (max-width: 1000px) {
    .cover {
        min-height: 1000px;
    }
    .hud-film div {
        display: block;
    }
    .poster {
        float: left;
    }
    .infos {
        display: block;
        margin-left: 0;
        float: left;
    }
    .watch-bar {
        float: left;
        width: 620px;
    }
    .watch-bar div {
        display: inline-block;
    }
    .separator {
        height: 15px;
    }
}

@media only screen and (max-width: 1320px) {
    .message-container {
        margin-top: 0;
    }
}