.main {
  width: 100%;
  max-width: 800px;
}

.left-form,
.right-form {
  width: 200px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  height: 280px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.header-form {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 100;
  background: #dedede;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.input {
  height: 45px;
  line-height: 45px;
  width: 200px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 100;
  outline: none;
}

.submit {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: white;
  font-weight: 100;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #61AEFF;
  box-shadow: inset 0px 0px 50px 10px #469fff;
}

.input-file {
  margin-top: 10px;
}

#photodisplay {
  height: 130px;
  width: 130px;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 0;
}

.container-preview {
  width: 200px;
  height: 180px;
  background: white;
}

.fix {
  width: 200px;
  height: 15px;
}

.reset-password {
  width: 100%;
  max-width: 460px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.form-bar {
  width: 460px;
  height: 50px;
  line-height: 50px;
  background: white;
  border-radius: 10px;
}

.bar-submit {
  border: none;
  width: 200px;
  background: #61AEFF;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 100;
  float: right;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.reset-infos {
  font-size: 15px;
  width: 260px;
  display: inline-block;
}
