@charset "UTF-8";
body,
html {
    background: black;
}

.hud-film {
    width: 90%;
    max-width: 900px;
    height: 500px;
}

.hud-film img {
    display: inline-block;
    border-radius: 15px;
}

.cover {
    padding-bottom: 10px;
    background-size: cover;
    height: 900px;
}

.poster {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 70px 3px rgba(100, 100, 100, 0.15);
}

.poster img {
    width: 255px;
}

.infos {
    width: 600px;
    display: inline-block;
    border-radius: 15px;
    vertical-align: middle;
    color: white;
    font-weight: 100;
    text-align: left;
    max-height: 362px;
}

::-webkit-scrollbar {
    display: none;
}

.actors,
.genres,
.director,
.time,
.imdb,
.year,
.syno {
    font-size: 15px;
    margin: 5px;
}

.year {
    display: inline-block;
    margin-top: 0;
}

.time {
    font-size: 12px;
    margin-top: 0;
    display: inline-block;
}

.suffix {
    display: inline-block;
}

.syno {
    overflow: scroll;
    max-height: 80px;
}

.syni-ttl {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 35px;
    max-width: 500px;
    margin-left: 5px;
}

.quality {
    font-size: 15px;
}

.link {
    color: black;
    display: inline-block;
    margin: 10px;
    margin-left: 0;
}

.link-block {
    margin: 0;
    padding: 0;
    width: 60px;
    display: inline-block;
}

.link:hover .quality {
    background: #3281ff;
}

.onoffswitch {
    position: relative;
    width: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 108px;
    float: right;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 31px;
    padding: 0;
    line-height: 31px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    text-align: left;
}

.onoffswitch-inner:before {
    content: "720p";
    padding-left: 10px;
    background-color: transparent;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "1080p";
    padding-right: 10px;
    background-color: transparent;
    color: #fff;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    position: absolute;
    margin-top: 4px;
    margin-right: 4px;
    top: 0px;
    bottom: 0;
    right: 73px;
    border: 2px solid #E3E3E3;
    border-radius: 22px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.watch-bar {
    height: 50px;
    padding-top: 16px;
    text-align: left;
    border-radius: 15px;
    margin: 25px;
    margin-left: 0;
    min-width: 600px;
}

.watch-btn {
    height: 34px;
    width: 120px;
    line-height: 34px;
    background: #578fe8;
    border-radius: 5px;
    text-align: center;
    float: right;
}

.watch-btn:hover {
    background: #437edd;
}

.watch-btn a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.watch-bar div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

.middle-bar {
    height: 60px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.comment-area {
    font-size: 15px;
    width: 450px;
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px;
}

#message-area {
    height: 60px;
    font-size: 15px;
    width: 350px;
    float: left;
    outline: none;
    background: black;
    color: #666;
    padding-left: 60px;
}

#message-area::-webkit-input-placeholder {
    font-weight: 100;
}

.sender {
    border: none;
    font-size: 20px;
    color: #555;
    font-weight: 100;
    width: 40px;
    height: 20px;
    display: inline-block;
}

.sender:hover {
    cursor: default;
    color: #94c9f5;
}

.comments-indicator,
.viewers-indicator {
    width: 80px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.comments-indicator img,
.viewers-indicator img {
    height: 20px;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
}

.comments-display {
    width: 100%;
    max-width: 900px;
    overflow: scroll;
    margin-top: 30px;
}

.comment {
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    height: inherit;
}

.comment-infos {
    height: 30px;
    line-height: 30px;
    padding: 10px;
}

.comment-infos div {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.comment img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.comment-user {
    float: left;
    margin-left: 20px;
    color: white;
}

.comment-date {
    float: right;
    color: #333;
}

.comment-value {
    font-size: 15px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    text-align: justify;
    z-index: 30;
    margin-bottom: 20px;
    font-weight: 100;
    padding-left: 20px;
}

.stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    margin-left: 10px;
    letter-spacing: 3px;
    vertical-align: bottom;
}

.stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
}

.stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: #94c9f5;
    overflow: hidden;
}

.stars-0:after {
    width: 0%;
}

.stars-10:after {
    width: 10%;
}

.stars-20:after {
    width: 20%;
}

.stars-30:after {
    width: 30%;
}

.stars-40:after {
    width: 40%;
}

.stars-50:after {
    width: 50%;
}

.stars-60:after {
    width: 60%;
}

.stars-70:after {
    width: 70%;
}

.stars-80:after {
    width: 80%;
}

.stars-90:after {
    width: 90%;
}

.stars-100:after {
    width: 100;
}

video {
    width: 100%;
}

.video-container {
    display: none;
    position: relative;
}

#comment {
    position: absolute;
    top: 912px;
    width: 100%;
}

#instructions {
    position: inherit;
    z-index: 100;
}

#watch:hover {
    cursor: default;
}

.return {
    color: white;
    background: black;
    margin-top: 200px;
    width: 100%;
    font-size: 20px;
    display: none;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
}

.episode-link {
    display: block;
    font-size: 15px;
    color: white;
    margin: 2px;
    font-weight: 100;
    width: 100px;
}

.episode-link:hover {
    color: #3281ff;
}

.episode-link-hide {
    display: none;
}

.season-content {
    max-height: 400px;
    overflow: scroll;
}

.season {
    font-size: 20px;
    font-weight: 100;
    color: white;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

.title-show {
    font-size: 35px;
    color: white;
    font-weight: 100;
}

.normalize {
    position: absolute;
    right: 250px;
    top: 250px;
    width: 32px;
    height: 32px;
}

.normalize:after,
.normalize:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background: white;
}

.normalize:hover {
    opacity: 0.6;
}

.normalize:before {
    transform: rotate(45deg);
}

.normalize:after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 1000px) {
    .season-selector {
        top: 520px;
        left: 50px;
    }
    .cover {
        min-height: 1000px;
    }
    .poster {
        margin-top: 70px;
        float: left;
    }
    .infos {
        margin-right: 100px;
        float: left;
    }
    .sum-txt {
        max-height: 100px;
    }
    .watch-bar {
        float: left;
        width: 620px;
    }
    .watch-bar div {
        display: inline-block;
        float: left;
    }
    .separator {
        height: 15px;
    }
    .syno {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1320px) {
    .message-container {
        margin-top: 0;
    }
}